<label for="rating[<%= id %>]" title="<%= title %>"><%= item %></label>
<div class="input">
<select name="rating[<%= id %>]" id="<%= id %>">
	<option>0</option>
	<option>1</option>
	<option>2</option>
	<option>3</option>
	<option>4</option>
	<option>5</option>
</select>
</div>