<%- partial('global/header') %>
<body>
  <header class="<%= header_class %>">
	<h1><a href="/"><%= header_title %></a></h1>

	<% if (header_description) { %>
		<h3><%- header_description %></h3>
	<% } %>

  </header>

<%- body %>


  <footer>
  </footer>


  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>

  <!-- scripts concatenated and minified via build script -->
  <script src="/js/script.js"></script>
  <!-- end scripts -->


<%- partial('global/footer') %>