<%- partial('global/header') %>
<body>
  <header class="<%= header_class %>">
	<h1><a href="/"><%= header_title %></a></h1>
	<h3><%= header_description %></h3>
	
  </header>

<%- body %>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
  <script src="http://html5form.googlecode.com/svn/trunk/jquery.html5form-1.5-min.js"></script>

  <script defer src="js/form.js"></script>

  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

</body>
</html>