<%- partial('global/header') %>
<body>
  <header class="big compressed">
	<h1><a href="/"><%= header_title %></a></h1>
	<h3><%- header_description %></h3>
  </header>

<%- partial('partials/nav_bar') %>

<%- body %>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
  <script src="http://html5form.googlecode.com/svn/trunk/jquery.html5form-1.5-min.js"></script>
  <script src="/js/bootstrap-twipsy.js"></script>
  <script src="/js/bootstrap-popover.js"></script>
	<script src="/js/script.js"></script>
  <script src="/js/form.js"></script>

<%- partial('global/footer') %>