<div id="main" role="main">

<form class="contrib clearfix" method="post" action="/contribute/submit">
	<div class="pagination_page" id="page_one">
		<h2>First, The Formalities</h2>
		<h6>We need to know some details about the place you are submitting. Don&rsquo;t worry, it will only take a minute!</h6>

		<fieldset class="location form-stacked">
			<div class="row clearfix">
				<div id="location_preview" class="span4"></div>
				<div class="span10 inputs">
				<div class="row">
					<div class="span4">
						<label for="place[name]">City or Town</label>
						<div class="input">
							<input type="text" name="place[name]" id="name" value="" autocomplete="off" required="required" />
						</div>
					</div>
					<div class="span3">
						<label for="place[region]">Region</label>
						<div class="input">
							<span class="displayonly"></span>
							<input type="hidden" class="displayonly" name="place[region]" autocomplete="off" id="region" />
						</div>
					</div>
					<div class="span3">
						<label for="place[country]">Country</label>
						<div class="input">
							<span class="displayonly"></span>
							<input type="hidden" class="displayonly" name="place[country]" autocomplete="off" id="country" />
						</div>
					</div>

					<input type="hidden" class="displayonly" name="place[locX]" id="locX" autocomplete="off" required />
					<input type="hidden" class="displayonly" name="place[locY]" id="locY" autocomplete="off" required />

				</div>
				</div>
			</div>
		</fieldset>
	</div>



	<div class="pagination_page two" id="page_two">
		<h2>How would you rate the city?</h2>
		<h6>We need to know some details about the place you are submitting. Don&rsquo;t worry, it will only take a minute!</h6>

		<h4>Infrastructure</h4>
		<fieldset>
		<div class="row">
			<div class="sectionTotal">0%</div>
			<div class="leftbar span3">&nbsp;</div>
			<div class="span11">

			<%-

				partial('partials/sliders', { locals: {
					id		: 'econ',
					item	: 'Economic Stability',
					title	: 'Stability of the financial sector and government finances municipally, regionally, and nationally'
				}})
			%>
			<%-
				partial('partials/sliders', { locals: {
					id		: 'car',
					item	: 'Career Opportunity',
					title	: 'Potential for general career opportunity'
				}})
			%>
			<%-
				partial('partials/sliders', { locals: {
					id		: 'edu',
					item	: 'Education',
					title	: 'Quality of the educational system'
				}})
			%>
			<%-
				partial('partials/sliders', { locals: {
					id		: 'heal',
					item	: 'Healthcare',
					title	: 'Quality and efficiency of the healthcare system'
				}})
			%>
			<%-
				partial('partials/sliders', { locals: {
					id		: 'saf',
					item	: 'Public Safety',
					title	: 'Average feeling of phyiscal safety and security for individual in city'
				}})
			%>
			<%-
				partial('partials/sliders', { locals: {
					id		: 'fre',
					item	: 'Freedom & Equality',
					title	: 'Level of human rights and freedoms in the region, as defined by the United Nations'
				}})
			%>
		</div>
		</div>
		</fieldset>
	</div>

	<div class="pagination_page three" id="page_three">

		<h4>Culture</h4>
		<fieldset>
		<div class="row">
			<div class="sectionTotal">0%</div>
			<div class="leftbar span3">&nbsp;</div>
			<div class="span11">
			<%-

				partial('partials/sliders', { locals: {
					id		: 'div',
					item	: 'Cultural Diversity',
					title	: 'The variety of different cultures and backgrounds within the city'
				}})
			%>
			<%-
				partial('partials/sliders', { locals: {
					id		: 'com',
					item	: 'Sense of Community',
					title	: 'The overall feeling of comraderie within the citizens of the city'
				}})
			%>
			<%-
				partial('partials/sliders', { locals: {
					id		: 'art',
					item	: 'Arts & Music Scene',
					title	: 'The strength and vibrancy of the artistic community'
				}})
			%>
			<%-
				partial('partials/sliders', { locals: {
					id		: 'wrk',
					item	: 'Work-Life Balance',
					title	: 'How balanced is the cultural norm for hours spent at work and home'
				}})

			%>

			</div>
		</div>
		</fieldset>
	</div>


	<div class="pagination_page four" id="page_four">

		<h4>Environment</h4>
		<fieldset>
		<div class="row">
			<div class="sectionTotal">0%</div>
			<div class="leftbar span3">&nbsp;</div>
			<div class="span11">
			<%-
				partial('partials/sliders', { locals: {
					id		: 'pub',
					item	: 'Public/Green Spaces',
					title	: 'The relative amount of parks, community centres, and greenery'
				}})
			%>
			<%-
				partial('partials/sliders', { locals: {
					id		: 'cli',
					item	: 'Climate',
					title	: 'The comfort level of the weather in terms of temperature, precipitation, and wind'
				}})
			%>
			<%-

				partial('partials/sliders', { locals: {
					id		: 'acc',
					item	: 'Accessibility',
					title	: 'The ease of maneuverability of the region&rsquo;s streets, buildings, and public spaces, especially for seniors and the physically impaired'
				}})
			%>
			<%-

				partial('partials/sliders', { locals: {
					id		: 'mob',
					item	: 'Mobility',
					title	: 'The ease of travel between locations; is there multiple viable methods of transportation? (e.g. car, bicycle, public transport, walking) '
				}})
			%>
			</div>
		</div>
		</fieldset>
		<div class="clearfix">
		<p class="centered margin-top"><button type="submit" class="btn large primary">Add my City</button></p>
	</div>

	</div>

	</form>


	<div class="nextbutton centered margin-top">
	    <p><a class="btn large">Contine <span class="icon">{</span></a></p>
	</div>
</div>


