<div id="main" role="main">

<form class="contrib clearfix" method="post" action="/contribute/submit">
	<h2><em>Step 1 </em>First, The Formalities</h2>
	<h6>We need to know some details about the place you are submitting. Don&rsquo;t worry, it will only take a minute!</h6>
	
	<hr />
	
	<h4>Background Information</h4>
	<fieldset class="location form-stacked">
		<div class="row clearfix">
			<div id="location_preview" class="span4"></div>
			<div class="span12 inputs">
			<div class="row">
				<div class="span4">
					<label for="place[name]">City or Town</label>
					<div class="input">
						<input type="text" name="place[name]" id="name" value="" placeholder="Auckland" autocomplete="off" required="required" />
					</div>
				</div>
				<div class="span4">
					<label for="place[region]">State, Province, or Region</label>
					<div class="input">
						<span class="displayonly"></span>
						<input type="hidden" class="displayonly" name="place[region]" autocomplete="off" id="region" />
					</div>
				</div>
				<div class="span4">
					<label for="place[country]">Country</label>
					<div class="input">
						<span class="displayonly"></span>
						<input type="hidden" class="displayonly" name="place[country]" autocomplete="off" id="country" />
					</div>
				</div>
				<div class="span4">
					<label for="place[locX]">Latitude</label>
					<div class="input">
						<span class="displayonly"></span>
						<input type="hidden" class="displayonly" name="place[locX]" id="locX" autocomplete="off" />
					</div>
				</div>
				<div class="span4">
					<label for="place[locY]">Longitude</label>
					<div class="input">
						<span class="displayonly"></span>
						<input type="hidden" class="displayonly" name="place[locY]" id="locY" autocomplete="off" />
					</div>
				</div>
			</div>
			</div>
		</div>		
	</fieldset>
	
	
	<h2><em>Step 2 </em>What&rsquo;s important to you?</h2>
	<h6>We need to know some details about the place you are submitting. Don&rsquo;t worry, it will only take a minute!</h6>
	
	<hr />
	
	<h4>Infrastructure</h4>
	<fieldset>
	<div class="row">
		<div class="leftbar span3">&nbsp;</div>
		<div class="span12">
		
		<%- 
			partial('partials/sliders', { locals: {
				id		: 'econ',
				item	: 'Economy',
				title	: 'How important is the stability of the financial sector, and government finances'
			}})
		%>
		<%-
			partial('partials/sliders', { locals: {
				id		: 'car',
				item	: 'Career',
				title	: 'How important is the stability of the financial sector, and government finances'
			}})
		%>
		<%-
			partial('partials/sliders', { locals: {
				id		: 'edu',
				item	: 'Education',
				title	: 'How important is the stability of the financial sector, and government finances'
			}})
		%>
		<%-
			partial('partials/sliders', { locals: {
				id		: 'heal',
				item	: 'Healthcare',
				title	: 'How important is the stability of the financial sector, and government finances'
			}})
		%>
		<%-
			partial('partials/sliders', { locals: {
				id		: 'saf',
				item	: 'Safety',
				title	: 'How important is the stability of the financial sector, and government finances'
			}})
		%>
		<%-
			partial('partials/sliders', { locals: {
				id		: 'fre',
				item	: 'Freedom & Equality',
				title	: 'How important are human rights, and equality for all genders, cultures, and religions?'
			}})
		%>
		<%-	
			partial('partials/sliders', { locals: {
				id		: 'fre',
				item	: 'Freedom & Equality',
				title	: 'How important are human rights, and equality for all genders, cultures, and religions?'
			}})			
		%>
	</div>
	</div>
	</fieldset>
	
	<h4>Culture</h4>
	<fieldset>
	<div class="row">
		<div class="leftbar span3">&nbsp;</div>
		<div class="span12">
		<%-
			
			partial('partials/sliders', { locals: {
				id		: 'div',
				item	: 'Cultural Diversity',
				title	: 'How important are human rights, and equality for all genders, cultures, and religions?'
			}})
		%>
		<%-
			partial('partials/sliders', { locals: {
				id		: 'com',
				item	: 'Sense of Community',
				title	: 'How important are human rights, and equality for all genders, cultures, and religions?'
			}})
		%>
		<%-
			partial('partials/sliders', { locals: {
				id		: 'art',
				item	: 'Artistic & Music Scene',
				title	: 'How important are human rights, and equality for all genders, cultures, and religions?'
			}})
		%>
		<%-
			partial('partials/sliders', { locals: {
				id		: 'wrk',
				item	: 'Work-Life Balance',
				title	: ''
			}})
			
		%>
	
		</div>
	</div>
	</fieldset>
	
	
	<h4>Environment</h4>
	<fieldset>
	<div class="row">
		<div class="leftbar span3">&nbsp;</div>
		<div class="span12">
		<%-
			partial('partials/sliders', { locals: {
				id		: 'pub',
				item	: 'Public Spaces',
				title	: ''
			}})
		%>
		<%-
			partial('partials/sliders', { locals: {
				id		: 'cli',
				item	: 'Climate',
				title	: ''
			}})
		%>
		<%-
			partial('partials/sliders', { locals: {
				id		: 'pub',
				item	: 'Public Spaces',
				title	: ''
			}})
		%>
		</div>
	</div>
	</fieldset>
	
	
	<h4>Environment</h4>
	<fieldset>
	<div class="row">
		<div class="leftbar span3">&nbsp;</div>
		<div class="span12">
		<%- 
			partial('partials/sliders', { locals: {
				id		: 'clt',
				item	: 'Cultural Diversity',
				title	: ''
			}})
		%>
		<%-
			partial('partials/sliders', { locals: {
				id		: 'grn',
				item	: 'Green Spaces',
				title	: ''
			}})

		%>

		</div>
	</div>
	</fieldset>
	
	<div class="clearfix">
	<button type="submit" class="btn large primary right">Submit my City</button>
	</div>
	
	</form>
</div>
